.monaco-shell {
  /* font-family: "Fira Mono for Powerline", monospace; */
}

/* .explorer-viewlet .editor-group, .explorer-viewlet .explorer-item, .explorer-viewlet .open-editor {
  height: 22px;
  line-height: 22px;
  font-size: 12px;
} */


/* This makes the dirty tab circle yellow */
.vs-dark
.monaco-workbench
> .part.editor
> .content
> .one-editor-silo
> .container
> .title
.tabs-container
> .tab.dirty
.close-editor-action {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' height='16' width='16'%3E%3Ccircle fill='%23ffcc66' cx='8' cy='8' r='4'/%3E%3C/svg%3E")
  50% no-repeat;
}

/*
This puts a thin yellow border around the found items like Sublime did it
*/
.monaco-editor .findMatch {
  border: 1px solid #ffc666;
  border-radius: 2px;
  background: transparent;
}

/* This accounts for larger font cutting off - bump up 3px */
/* .monaco-workbench > .activitybar > .content .monaco-action-bar .badge .badge-content {
  top: 17px !important;
} */
